/*fontes utilizadas*/
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
}

:root {
    --cor01: #7D9888;
    --cor02: #BF8773;
    --cor03: #995842;
    --cor04: #E6AAA8;
    --cor05: #FAF2E9;
    --cor06: #111111;
    --cor07-transp: #9b97978f;

    --font-padrao: 'Yanone Kaffeesatz', sans-serif;
    --font-titulo: arial,sans-serif;
}

body, html {
    height: 100vh;
}

.header {
    position: relative;
    background: var(--cor06);
    height: 100px;
}

.nav {
    position: absolute;
    bottom: -22%;
    width: 50vw;
    margin: 0 20rem;
    background: var(--cor03);
    padding: .6rem;
    border-radius: 20px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1.2rem;
    padding: .3rem 0;
}

.menu a {
    text-decoration: none;
    color: var(--cor05);
    font-family: var(--font-padrao);
    font-size: 1.5rem;
    padding: .3rem;
    transition-duration: 0.6s;
    border-radius: 10px;
}

.menu a:hover {
    background: var(--cor05);
    color: var(--cor03);
}

/*Main*/

.main-conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
 /*
    background-image: url(https://images.unsplash.com/photo-1543422655-ac1c6ca993ed?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-position: center right;*/
    
}

.fundo-informacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    height: 400px;
    background: var(--cor07-transp);
    border-radius: 10px;
    padding: 0 4rem;
}

.logo-capricho {
    background-image: url(imagens/titulo-capricho.png);
    background-position: center center;
    width: 420px;
    height: 170px;
    margin: 3rem 0 0 0;
}

.description {
    text-align: center;
    padding-bottom: 2rem;
    font-family: var(--font-padrao);
    font-size: 1.5rem;
    font-weight: normal;
}

.botao-home {
    background: var(--cor06);
    color: var(--cor05);
    font-family: var(--font-padrao);
    font-size: 1.2rem;
    padding: .5rem 2rem;
    border: 0;
    border-radius: 8px;
}

/*Roda-pé*/
.footer {
    height: 100px;
    background: var(--cor06);
}

.menu-sociais {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    list-style: none;
    padding: 2rem 0;
}

.menu-sociais a {
    text-decoration: none;
    color: var(--cor05);
    font-family: var(--font-padrao);
    font-size: 2.5rem;
}

