/*fontes utilizadas*/
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
}

:root {
    --cor01: #7D9888;
    --cor02: #BF8773;
    --cor03: #995842;
    --cor04: #E6AAA8;
    --cor05: #FAF2E9;
    --cor06: #111111;
    --cor07-transp: rgba(29, 29, 29, 0.349);

    --font-padrao: 'Yanone Kaffeesatz', sans-serif;
    --font-titulo: arial,sans-serif;
}

body, html {
    height: 100vh;
}

/*Header*/

.header {
    display: flex;
    align-items: center;
    justify-content: right;
    background: var(--cor06);
    height: 120px;
}

.logo-header {
    position: absolute;
    left: 5%;
    background: royalblue;
}

.menu {
    display: flex;
    gap: 0.5rem;
    list-style: none;
    margin: 0 4rem;
}

.menu a {
    color: var(--cor06);
    text-decoration: none;
    font-family: var(--font-padrao);
    font-size: 1.5rem;
    background: var(--cor04);
    padding: 1rem;
    border-radius: 10px;
    border: 3px solid var(--cor04);
    transition-duration: 0.5s;
}

.menu a:hover {
    color: var(--cor05);
    background: var(--cor06);
}

/*Main*/

.main-conteiner {
    background-image: url(imagens/perfume\ rosa\ media-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.fundo-informacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    height: 400px;
    background: var(--cor07-transp);
    border-radius: 10px;
    padding: 0 4rem;
    margin: 0 2rem;
}

.logo-capricho {
    background-image: url(imagens/titulo-capricho.png);
    background-position: center center;
    width: 420px;
    height: 170px;
    margin: 3rem 0 0 0;
}

.description {
    text-align: center;
    padding-bottom: 2rem;
    font-family: var(--font-padrao);
    font-size: 1.5rem;
    font-weight: normal;
}

.botao-home {
    background: var(--cor06);
    padding: .5rem 2rem;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
}

.botao-home a {
    text-decoration: none;
    font-family: var(--font-padrao);
    font-size: 1.2rem;
    color: var(--cor05);
}

/*Roda-pé*/
.footer {
    height: 100px;
    background: var(--cor06);
}

.menu-sociais {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    list-style: none;
    padding: 2rem 0;
}

.menu-sociais a {
    text-decoration: none;
    color: var(--cor05);
    font-family: var(--font-padrao);
    font-size: 2.5rem;
}

