/*fontes utilizadas*/
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
@import url(https://fonts.googleapis.com/css?family=Fugaz+One:regular);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
}

#body-produtos {
    overflow-x: hidden;
}

:root {
    --cor01: #F2BEA0;
    --cor02: #BF8773;
    --cor03: #995842;
    --cor04: #59201B;
    --cor05: #FAF2E9;
    --cor06: #111111;
    --cor07-transp: #ffffff81;
    --cor08: #F2F2F2;
    --cor09: #242424e1;
    --cor10: #e0dbdeea;

    --font-padrao: 'Yanone Kaffeesatz', sans-serif;
    --font-titulo: 'Fugaz One', cursiva;
}

body, html {
    height: 100vh;
}

/*Header*/

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--cor06);
    height: 120px;
}

.logo-header {
    height: 5rem;
    width: 12rem;   
}

.menu {
    display: flex;
    gap: 0.4rem;
    list-style: none;
}

.menu a {
    color: var(--cor05);
    text-decoration: none;
    font-family: var(--font-padrao);
    font-size: 1.5rem;
    padding: .5rem;
    transition-duration: 0.5s;
}

.menu a:hover {
    color: #e9e7e7bb;
}

/*Main*/

.main-conteiner {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteiner-information-home {
    background-image: url(imagens/principal-full.jpg);
    display: flex; align-items: center; justify-content: center;
    background-position: center center; background-size: cover;
    width: 100%;
    height: 100%;
}

.fundo-informacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 200px;
    background: var(--cor07-transp);
    border-radius: 10px;
    padding: 0 4rem;
    margin: 0 2rem;
}

.image-home {
    background-image: url(imagens/titulo-home-caprichopsd.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 10rem;
    width: 15rem;
}

/*Start melhorias*/
.conteiner-information-melhorias {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-padrao);
    font-size: 2rem;
}
/*end melhorias*/

/*Produtos versão linhas resposivas*/

.main-conteiner-produtos-teste {
    height: 100vh;
}

.conteiner-pro {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.material {
    position: relative;
    height: 33.33%;
    display: flex;
    align-items: flex-end;
    justify-content: left;
}

.material h1 {
    color: var(--cor05);
    font-size: 2rem;
    font-family: var(--font-titulo);
}

.material div a {
    text-decoration: none;
    padding: 4rem 35rem;
}

/*Maquiagens*/

#maqui-cor {
    display: flex;
    align-items: center;
    justify-content: center;
}

#maqui {
    background-image: url(imagens/maquiagens-full.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}
#maqui div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #bf877394;
    opacity: 0;
    z-index: 999;
    transition: opacity 0.3s ease-in-out;
}

#maqui div:hover {
    opacity: 1;
}

/*Cosméticos*/

#cosme-cor {
    display: flex;
    align-items: center;
    justify-content: center;
}

#cosme {
    background-image: url(imagens/cosmeticos-full.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    margin-bottom: .2rem;
}
#cosme div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #bf877394;
    opacity: 0;
    z-index: 999;
    transition: opacity 0.3s ease-in-out;
}

#cosme div:hover {
    opacity: 1;
}

/*Moda-Íntima*/

#moda {
    background-image: url(imagens/lingerie-full.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    margin-bottom: .2rem;
}

#moda-cor {
    display: flex;
    align-items: center;
    justify-content: center;
}

#moda div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #bf877394;
    opacity: 0;
    z-index: 999;
    transition: opacity 0.3s ease-in-out;
}

#moda div:hover {
    opacity: 1;
}

/*end produtos*/

/*footer*/
.footer {
    height: 100px;
    background: var(--cor06);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.menu-sociais {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.3rem;
    list-style: none;
}
.menu-sociais a {
    text-decoration: none;
    color: var(--cor05);
    font-family: var(--font-padrao);
    font-size: 2.3rem;
    transition-duration: 0.5s;
}
.menu-sociais a:hover {
    color: #e9e7e7bb;
}
.menu-vendas {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.3rem;
    list-style: none;
}
.menu-vendas a {
    text-decoration: none;
    color: var(--cor05);
    font-family: var(--font-padrao);
    font-size: 2.3rem;
    transition-duration: 0.5s;
}
.menu-vendas a:hover {
    color: #e9e7e7bb;
}

#developer-name {
    text-align: center;
    line-height: .9rem;
}

#developer-name a {
    color: var(--cor05);
    text-decoration: none;
    font-family: var(--font-padrao);
}

/*Start sobre nós*/

.conteiner-sobre {
    height: 100%;
    display: flex;

}
.image-sobre {
    width: 35%;
    height: 100%;
    background: #8C2B2B;
}

.conteudo-sobre {
    padding: 2rem;
    height: 100%;
    width: calc(100% - 35%);
}
.conteudo-sobre h1 {
    font-family: var(--font-titulo);
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.conteudo-sobre p {
    font-family: var(--font-padrao);
    font-size: 1.6rem;
    margin-bottom: 2rem;
}
.conteudo-sobre h2 {
    font-family: var(--font-titulo);
    font-size: 1.6rem;
    margin-bottom: 2rem;
}
.midias-sociais {
    width: 230px;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.midias-sociais a {
    text-decoration: none;
    font-size: 1.5rem;
    padding: .6rem .4rem;
    color: var(--cor05);
    font-family: var(--font-titulo);

}
.midias-sociais #shoppe {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    background: var(--cor02);
    border-radius: 8px;
    height: 40px;
}
#shoppe:hover {
    background: var(--cor03);
}

.midias-sociais #ed {
    background: var(--cor02);
    gap: 1rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
}
#ed:hover {
    background: var(--cor03);
}

.midias-sociais-icons {
    display: flex;
    gap: 1rem;
    font-size: 2rem;
}
.midias-sociais-icons a {
    color: var(--cor05);
}
#shoppe-icon {
    background-color: var(--cor02);
    padding: .5rem;
    border-radius: 8px;
    cursor: pointer;
}
#shoppe-icon:hover {
    background: var(--cor03);
}
#ed-icon {
    background-color: var(--cor02);
    padding: .5rem;
    border-radius: 8px;
    cursor: pointer;
}
#ed-icon:hover {
    background: var(--cor03);
}

/*Responsividade para Mobile*/

@media screen and (max-width: 768px) {
    .conteudo-sobre {
        width: 100%;
    }
    .image-sobre {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .conteudo-sobre h1 {
        font-size: 1.5rem;
    }
    .conteudo-sobre h2 {
        font-size: 1.3rem;
    }
    .conteudo-sobre p {
        font-size: 1.4rem;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 365px) {
    .midias-sociais {
        display: none;
    }
    .conteudo-sobre h1 {
        font-size: 1.4rem;
    }
    .conteudo-sobre p {
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }
    .conteiner-sobre h2 {
        font-size: 1.2rem;
    }
}
@media screen and (min-width: 365px) {
    .midias-sociais-icons {
        display: none;
    }
}
/*Botão mobile*/

.bnt-mobile {
    color: var(--cor05);
    font-size: 2rem;
    cursor: pointer;
}

@media (max-width: 700px) {
    .menu {
        display: none;
    }
    .image-logo {
        display: none;
    }

    #logo-header-mobile {
        background-image: url(imagens/titulo-capricho-branco-50.png);
        background-repeat: no-repeat;
        background-position: center center;
    }
}

@media (min-width: 701px) {
    .bnt-mobile {
        display: none;
    }

}

/*Atendimento*/

.conteiner-atendimento {
    background: var(--cor08);
    height: calc(100% - 120px);
    width: 100%;
    display: flex;
    justify-content: center;
}

.conteiner-form {
    width: 60%;
}

.conteiner-form h1 {
    margin-top: 1rem;
    font-family: var(--font-titulo);
    color: var(--cor06);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 1rem;
}
#nome {
    width: 80%;
    height: 30px;
    margin-bottom: 1.5rem;
    border: 0;
    border-radius: 15px;
    padding: 1rem;
    font-size: 1.3rem;
    font-family: var(--font-padrao);
    background: var(--cor10);
}
#nome::placeholder {
    color: var(--cor06);
}

#email {
    width: 80%;
    height: 30px;
    margin-bottom: 1.5rem;
    border: 0;
    border-radius: 15px;
    padding: 1rem;
    font-size: 1.3rem;
    font-family: var(--font-padrao);
    background: var(--cor10);
}
#email::placeholder {
    color: var(--cor06);
}

#mensagem {
    width: 80%;
    height: 100px;
    margin-bottom: 1.5rem;
    border: 0;
    border-radius: 15px;
    padding: .5rem 1rem;
    font-size: 1.1rem;
    font-family: var(--font-padrao);
    background: var(--cor10);
}
#mensagem::placeholder {
    color: var(--cor06);
}

#botao {
    border: 0; 
    border-radius: 8px;
    padding: .3rem 1.2rem;
    cursor: pointer;
    font-size: 1.3rem;
    background: var(--cor10);
    color: var(--cor06);
    font-family: var(--font-padrao);
    margin-bottom: 2rem;
}

#zap {
    color: var(--cor05);
    font-family: var(--font-padrao);
    font-size: 1.6rem;
    text-decoration: none;
    border-radius: 8px;
    background: #60bd7c;
    padding: .4rem 1rem;  
}

#zap-icon {
    font-family: var(--font-padrao);
    text-decoration: none;
    color: var(--cor05);
    font-size: 1.6rem;
    margin-top: 2.5rem;
    padding: .4rem .8rem;
    border-radius: 8px;
    background: #60bd7c;
}

/*atendimento mobile*/

@media screen and (max-width: 768px) {
    .conteiner-form {
        width: 100%;
        padding-left: 2rem;
    }
    #zap {
        display: none;
    }
    .menu-sociais {
        gap: 2rem;
    }
    .menu-vendas {
        gap: 2rem;
    }
    .footer {
        gap: 2rem;
    }
}

@media screen and (min-width: 768px) {
    #zap-icon {
        display: none;
    }
}